body{
    background-image: url('./img/background.webp');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    position: relative;
}
img{
    width: 150px;
    height: 150px;
}

.wrap-img-1, .wrap-img-2{
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
}

.wrap-img-2{
    margin-top: 35px;
}
.inPut{
    margin-top: 10px;
    text-align: center;
}

input{
    border-radius: 8px;
    outline-color: transparent;
    outline: none;
    height: 25px;
    border: 2px solid orange;
    font-weight: 550;
}

input::placeholder{
    color: #555;
    font-weight: 500;
}

input:disabled{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    cursor: not-allowed;
}
.xucxac{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.xucxac img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
}

.btn button{
    min-width: 80px;
    border-radius: 8px;
    border: 2px solid rgb(229, 229, 229);
    height: 30px;
    color: #00abf0;
    font-weight: 600;
    cursor: pointer;
}
.btn button:disabled{
    background-color: #e5e5e5;
    cursor: not-allowed;
    filter: brightness(0.8);
    color: #555;
}

.money{
    text-align: right;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
}

.fa-coins{
    color: yellow;
}

@media (min-width:740px) and (max-width:1023px)
{
    .wrap-img-1, .wrap-img-2{
        flex-wrap: wrap;
        gap: 0;
    }
    .img-item{
        margin: 0px 30px 30px 30px;
    }
    .wrap-img-1{
        margin-top: 50px;
    }
    .btn{
        margin-top: 30px;
    }
    .btn button{
        height: 35px;
        width: 90px;
    }
}

footer{
    padding: 10px 0;
    background-color: #00abf0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(231, 76, 76);
    text-align: center;
    color: #ededed;
    font-weight: 600;
    font-family: sans-serif;
}
@media (max-width:739px) {
    .wrap-img-1, .wrap-img-2{
        flex-wrap: wrap;
        gap: 0;
    }
    img{
        width: 100px;
        height: 100px;
    }
    input{
        width: 80px;
    }
    .wrap-img-1{
        margin-top: 50px;
    }
    .xucxac img{
        width: 80px;
        height: 80px;
        
    }

    .img-item{
        margin: 0 8px;
    }
}
